In [1]:
import pandas as pd

In [2]:
import geopandas as gpd

In [3]:
%cd ..

C:\Users\dimit\Desktop\MAchine Learning\final project\airbnb-price-prediction

In [4]:
from pathlib import Path

raw = Path("data")/"raw"

df_calendar    = pd.read_csv(raw/"calendar.csv.gz",  compression="gzip")
df_listings    = pd.read_csv(raw/"listings.csv.gz",  compression="gzip")
df_reviews     = pd.read_csv(raw/"reviews.csv.gz",   compression="gzip")
df_neigh_list  = pd.read_csv(raw/"neighbourhoods.zip", compression=None)
gdf_neigh_geo  = gpd.read_file(raw/"neighbourhoods.geojson")

print(df_calendar.shape, df_listings.shape, df_reviews.shape,
      df_neigh_list.shape, gdf_neigh_geo.shape)

(5085865, 7) (13945, 79) (588592, 6) (139, 2) (140, 3)

In [5]:
df_calendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,214518,2025-03-16,t,$51.00,NaN,3.0,21.0
1,214518,2025-03-17,t,$51.00,NaN,3.0,21.0
2,214518,2025-03-18,t,$51.00,NaN,3.0,21.0
3,214518,2025-03-19,t,$51.00,NaN,3.0,21.0
4,214518,2025-03-20,t,$51.00,NaN,3.0,21.0

In [6]:
df_listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,3176,https://www.airbnb.com/rooms/3176,20250315152850,2025-03-16,city scrape,Fabulous Flat in great Location,This beautiful first floor apartment is situa...,The neighbourhood is famous for its variety of...,https://a0.muscache.com/pictures/airflow/Hosti...,3718,...,4.70,4.92,4.61,First name and Last name: Nicolas Krotz <br/> ...,f,1,1,0,0,0.78
1,9991,https://www.airbnb.com/rooms/9991,20250315152850,2025-03-16,city scrape,Geourgeous flat - outstanding views,4 bedroom with very large windows and outstand...,Prenzlauer Berg is an amazing neighbourhood wh...,https://a0.muscache.com/pictures/42799131/59c8...,33852,...,5.00,4.86,4.86,03/Z/RA/003410-18,f,1,1,0,0,0.06
2,14325,https://www.airbnb.com/rooms/14325,20250315152850,2025-03-16,city scrape,Studio Apartment in Prenzlauer Berg,The apartment is located on the upper second f...,NaN,https://a0.muscache.com/pictures/508703/24988a...,55531,...,4.85,4.60,4.45,NaN,f,4,4,0,0,0.15
3,16644,https://www.airbnb.com/rooms/16644,20250315152850,2025-03-16,city scrape,In the Heart of Berlin - Kreuzberg,Light and sunny 2-Room-turn of the century-fla...,Our Part of Kreuzberg is just the best. Good v...,https://a0.muscache.com/pictures/73759174/e2ef...,64696,...,4.86,4.67,4.71,NaN,f,2,2,0,0,0.27
4,17904,https://www.airbnb.com/rooms/17904,20250315152850,2025-03-16,city scrape,Beautiful Kreuzberg studio - 3 months minimum,"- apt is available starting September 1, 2024<...","The apartment is located in Kreuzberg, which i...",https://a0.muscache.com/pictures/d9a6f8be-54b9...,68997,...,4.92,4.87,4.65,NaN,f,1,1,0,0,1.63

In [7]:
df_reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,323255,992614,2012-03-12,1354573,Renato,"I had a relaxing time in Berlin, it looks so o..."
1,3176,4283,2009-06-20,21475,Milind,"excellent stay, i would highly recommend it. a..."
2,3176,134722,2010-11-07,263467,George,Britta's apartment in Berlin is in a great are...
3,3176,144064,2010-11-24,76726,Patricia,"Fantastic, large place in good location. Only ..."
4,3176,156702,2010-12-21,291657,Benedetta,L'appartamento di Britta è molto largo carino ...

In [8]:
df_neigh_list.head()

    neighbourhood_group        neighbourhood
0  Charlottenburg-Wilm.            Barstraße
1  Charlottenburg-Wilm.  Charlottenburg Nord
2  Charlottenburg-Wilm.  Düsseldorfer Straße
3  Charlottenburg-Wilm.      Forst Grunewald
4  Charlottenburg-Wilm.            Grunewald

In [9]:
gdf_neigh_geo.head()

,neighbourhood,neighbourhood_group,geometry
0,Blankenfelde/Niederschönhausen,Pankow,"MULTIPOLYGON (((13.41191 52.61487, 13.41183 52..."
1,Helmholtzplatz,Pankow,"MULTIPOLYGON (((13.41405 52.54929, 13.41422 52..."
2,Wiesbadener Straße,Charlottenburg-Wilm.,"MULTIPOLYGON (((13.30748 52.46788, 13.30743 52..."
3,Schmöckwitz/Karolinenhof/Rauchfangswerder,Treptow - Köpenick,"MULTIPOLYGON (((13.70973 52.3963, 13.70926 52...."
4,Müggelheim,Treptow - Köpenick,"MULTIPOLYGON (((13.73762 52.4085, 13.73773 52...."

In [10]:
%store df_listings
%store df_calendar
%store df_reviews
%store df_neigh_list
%store gdf_neigh_geo

Stored 'df_listings' (DataFrame)
Stored 'df_calendar' (DataFrame)
Stored 'df_reviews' (DataFrame)
Stored 'df_neigh_list' (DataFrame)
Stored 'gdf_neigh_geo' (GeoDataFrame)